{{template "base" .}} <!-- Use the "base" template for creation of this template. -->

{{define "content"}} <!-- Define the "content" block here. -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{index .StrMap "title"}}</h1> <!-- take some information from models.PageData structure -->
            <p>{{index .StrMap "content"}}</p>
        </div>
    </div>
</div>
{{end}}